/* CSS declarations go here */
html{
    height:90%
}

body{
    background-repeat: none;
    background-color: #AEEEEE;

    height: 100%;
    width: 100%;
}

.main-content{
    position : relative;
    padding-top: 10%;
    width: 100%;
    height: 100%;
    
    
    
}
.ipad{
    position: relative;
    width: 65%;
    height: 100%;
    margin : 0 auto;
    background-image: url("ipad.png");
    background-repeat: no-repeat;
    background-size:100% 100% ;
   /*padding-left:10%;
   padding-right:15%;*/
    border-radius: 6%;
    
}



.banner{
    background-color: #b7c6c6;
    background-repeat: none;
    border-radius: 70px;
    background-image: url("ipad.png");
    min-height: 1130px; 
    width: 1600px;
    background-size:cover;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left:150px;
    padding-right:150px;
    color:black;
    font-size: 30px;
    position: fixed;
    top: 18%;
    left: 30%;
    margin-top: -100px;
    margin-left: -300px;
    text-align: center;
    font-family: Tahoma, Verdana, sans-serif;;
}

.banner button{
    width: 250px;
    height: 80px;
    font-size:40px;
    background: #666e6e;
    cursor : pointer;
} 


#transcription{
    margin-top: 50px; 
    width : 600px; 
    height:200px;
    background: black;
}


#next{
    position : relative;
    margin-bottom : 20px;
    margin-left:1000px;
    width: 250px;
    height: 80px;
    font-size:40px;
    background: #666e6e;
    cursor : pointer;
    color:black;
}


.homeLink{
    position : relative;
    margin-bottom : 20px;
    margin-right:1150px;
    width: 250px;
    height: 80px;
    font-size:25px;
    cursor : pointer;
    color:black;
}

li{
  margin: 10px 0;
}

.js-set-unitno{
    color:white;
}

/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: #666e6e;
}

/* mouse over link */
a:hover {
    color: blue;
}

#transcript{
    color: black;
}

textarea { 
    vertical-align: top; 
}

.btnSize{

    margin-left:10%;
    background: #666e6e;
    font-size:100%;
    width: 15%;
    height: 10%;
    margin-left:100px;
    background: #666e6e;
    font-size:40px;
    width: 250px;
    height: 80px;
}

.btnSize:hover{
    background: #ccffcc;
}

.speech {
    cursor: pointer;
}

.speech img{
    width: 3%;
    height: 3%;
}

.speak {
    background: #ffffe6;
}

.speak:hover{
    background: #ccffcc;
}

#next:hover{
    background: #ccffcc;
}

.correct{
    position: absolute;
    display: inline-block;
    margin-left: 20px;
    color: green;
}

.incorrect{
    position: absolute;
    display: inline-block;
    margin-left: 20px;
    color: red;
}

.btnWelcome {
    font-weight:700;
    font-size:40px;
}




.bg-1 {
    text-align: center;
    font-size:300%;
    padding-top: 5%;
    color:#660066;
    margin-left: auto;
    margin-right: auto;
    
    
}

.bg-2{
    text-align: center;
    font-size:150%;
    color:black;
    height: 70%;
    padding-left:10%;
    padding-right:15%;
}

.bg-admin {  
    text-align: center;
    font-size:130%;
    padding-top:5%;
    color:black;
}

@media screen and (max-width: 1600px){
    .ipad{
        width: 100%;
        left: 0%;
        margin: 0 auto;
        font-size:100%;
        /*height:100%;*/
    }
    .bg-1{
        font-size:150%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1096px){
    .ipad{
        width: 100%;
        left: 0%;
        margin: 0 auto;
        font-size:100%;
        /*height:100%;*/
    }

.bg-1 {
    font-size:50px;
    padding-top: 30px;
    color:#660066
    
}

.bgWelcome{
    background-color: #ffffcc;

}
}